
label live
	menu label Live
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config quiet splash

label livefailsafe
	menu label Live (failsafe)
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live config noapic noapm nodma nomce nolapic pci=nomsi nomodeset radeon.modeset=0 nouveau.modeset=0 nosmp vga=normal

label memtest
	menu label memtest - Run memtest
	kernel /isolinux/memtest.bin
	append -

label hd
	menu label hd - boot the first hard disk
	localboot 0x80
	append -




