
[Desktop Entry]
Encoding=UTF-8
Name=Respin
GenericName=System Backup
Exec=kdesu respin-gtk
Icon=respin-gtk
Terminal=false
Type=Application
Categories=System;Settings;
GenericName[en_CA]=System Backup
OnlyShowIn=KDE;
